In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r'C:\1567507480_amazonmoviesandtvratings\Amazon - Movies and TV Ratings.csv')

In [3]:
df.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Q1.which movies have maximum views or ratings?

In [5]:
df.describe()

,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,Movie10,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
count,1.0,1.0,1.0,2.0,29.000000,1.0,1.0,1.0,1.0,1.0,...,5.000000,2.0,1.0,8.000000,3.000000,6.000000,1.0,8.000000,35.000000,13.000000
mean,5.0,5.0,2.0,5.0,4.103448,4.0,5.0,5.0,5.0,5.0,...,3.800000,5.0,5.0,4.625000,4.333333,4.333333,3.0,4.375000,4.628571,4.923077
std,NaN,NaN,NaN,0.0,1.496301,NaN,NaN,NaN,NaN,NaN,...,1.643168,0.0,NaN,0.517549,1.154701,1.632993,NaN,1.407886,0.910259,0.277350
min,5.0,5.0,2.0,5.0,1.000000,4.0,5.0,5.0,5.0,5.0,...,1.000000,5.0,5.0,4.000000,3.000000,1.000000,3.0,1.000000,1.000000,4.000000
25%,5.0,5.0,2.0,5.0,4.000000,4.0,5.0,5.0,5.0,5.0,...,4.000000,5.0,5.0,4.000000,4.000000,5.000000,3.0,4.750000,5.000000,5.000000
50%,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,4.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000
75%,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,5.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000
max,5.0,5.0,2.0,5.0,5.000000,4.0,5.0,5.0,5.0,5.0,...,5.000000,5.0,5.0,5.000000,5.000000,5.000000,3.0,5.000000,5.000000,5.000000

In [6]:
df_main = df.copy() #if we do any changes still we can get the main data set.

In [7]:
df.describe().T["count"].sort_values(ascending = False)[:10].to_frame()

           count
Movie127  2313.0
Movie140   578.0
Movie16    320.0
Movie103   272.0
Movie29    243.0
Movie91    128.0
Movie92    101.0
Movie89     83.0
Movie158    66.0
Movie108    54.0

In [8]:
#INSIGHTS:- Here Movie 127 is having maximum views or ratings.

In [9]:
# Q2. What is the avg ratings of each movie? define the top 5 movies with the maximum ratings.

In [10]:
df.drop('user_id', axis = 1).sum().sort_values(ascending = False)[:10].to_frame()

               0
Movie127  9511.0
Movie140  2794.0
Movie16   1446.0
Movie103  1241.0
Movie29   1168.0
Movie91    586.0
Movie92    482.0
Movie89    380.0
Movie158   318.0
Movie108   252.0

In [11]:
df.drop('user_id', axis = 1).mean().sort_values(ascending = False)[:10].to_frame()

            0
Movie1    5.0
Movie66   5.0
Movie76   5.0
Movie75   5.0
Movie74   5.0
Movie143  5.0
Movie72   5.0
Movie145  5.0
Movie70   5.0
Movie147  5.0

In [12]:
df.drop('user_id', axis = 1).max().sort_values(ascending = False)[:5].to_frame()

            0
Movie1    5.0
Movie151  5.0
Movie127  5.0
Movie128  5.0
Movie129  5.0

In [13]:
# Q3.Recommendation Model: Some of the movies hadn’t been watched and therefore, are not rated by the users. 
     #Netflix would like to take this as an opportunity and build a machine learning recommendation algorithm 
     #which provides the ratings for each of the users.

#Divide the data into training and test data
#Build a recommendation model on training data
#Make predictions on the test data

In [14]:
!pip install scikit-surprise

Requirement already satisfied: scikit-surprise in c:\users\rautn\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in c:\users\rautn\anaconda3\lib\site-packages (from scikit-surprise) (1.0.1)
Requirement already satisfied: numpy>=1.11.2 in c:\users\rautn\anaconda3\lib\site-packages (from scikit-surprise) (1.20.3)
Requirement already satisfied: scipy>=1.0.0 in c:\users\rautn\anaconda3\lib\site-packages (from scikit-surprise) (1.7.1)
Requirement already satisfied: six>=1.10.0 in c:\users\rautn\anaconda3\lib\site-packages (from scikit-surprise) (1.16.0)

In [15]:
from surprise import Reader
from surprise import accuracy
from surprise.model_selection import train_test_split

In [16]:
df.columns

Index(['user_id', 'Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6',
       'Movie7', 'Movie8', 'Movie9',
       ...
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201', 'Movie202',
       'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype='object', length=207)

In [17]:
melt_df = df.melt(id_vars = df.columns[0], value_vars = df.columns[1:], var_name = "movie_name", value_name = "rating")
melt_df

               user_id movie_name  rating
0       A3R5OBKS7OM2IR     Movie1     5.0
1        AH3QC2PC1VTGP     Movie1     NaN
2       A3LKP6WPMP9UKX     Movie1     NaN
3        AVIY68KEPQ5ZD     Movie1     NaN
4       A1CV1WROP5KTTW     Movie1     NaN
...                ...        ...     ...
998683  A1IMQ9WMFYKWH5   Movie206     5.0
998684  A1KLIKPUF5E88I   Movie206     5.0
998685   A5HG6WFZLO10D   Movie206     5.0
998686  A3UU690TWXCG1X   Movie206     5.0
998687   AI4J762YI6S06   Movie206     5.0

[998688 rows x 3 columns]

In [18]:
from surprise import Dataset

In [19]:
reader = Reader(rating_scale=(-1,10))

data = Dataset.load_from_df(melt_df.fillna(0), reader = reader)

In [20]:
trainset , testset = train_test_split(data, test_size=0.25)

In [21]:
from surprise import SVD

In [22]:
algo = SVD()

In [23]:
algo.fit(trainset)

In [24]:
predictions = algo.test(testset)

In [25]:
accuracy.rmse(predictions)

RMSE: 0.2789

0.27893890805561145

In [33]:
accuracy.mae(predictions)

MAE:  0.0412

0.04123118849458575

In [26]:
user_id = 'A3R5OBKS7OM2IR'
muvi_id = 'Movie1'
r_ui = 5.0
algo.predict(user_id,muvi_id,r_ui=r_ui, verbose=True)

user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 0.06   {'was_impossible': False}

Prediction(uid='A3R5OBKS7OM2IR', iid='Movie1', r_ui=5.0, est=0.0585335965450836, details={'was_impossible': False})

In [27]:
from surprise.model_selection import cross_validate

In [28]:
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2851  0.2869  0.2767  0.2829  0.0045
MAE (testset)     0.0425  0.0432  0.0419  0.0426  0.0005
Fit time          116.64  117.37  113.90  115.97  1.49
Test time         8.50    7.90    8.07    8.16    0.25

{'test_rmse': array([0.28512651, 0.2869378 , 0.27666928]),
 'test_mae': array([0.04254747, 0.04323299, 0.04193625]),
 'fit_time': (116.64431047439575, 117.36662983894348, 113.90057849884033),
 'test_time': (8.50201940536499, 7.904857158660889, 8.074124097824097)}

In [46]:
def repeat(algo_type, frame, min_, max_):
    
    reader = Reader(rating_scale=(min_,max_))

    data = Dataset.load_from_df(frame, reader = reader)
    
    algo = algo_type
    
    print(cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=3, verbose=True))
    
    print("#"*10)
    
    user_id = 'A3R5OBKS7OM2IR'
    muvi_id = 'Movie1'
    r_ui = 5.0
    print(algo.predict(user_id,muvi_id,r_ui=r_ui, verbose=True))
    
    print("#"*10)
    print

In [47]:
df = df.iloc[:1212, :50]
melt_df = df.melt(id_vars = df.columns[0], value_vars = df.columns[1:], var_name = "movie_name", value_name = "rating")

In [31]:
repeat(SVD(), melt_df.fillna(0), -1, 10)
repeat(SVD(), melt_df.fillna(melt_df.mean()), -1, 10)
repeat(SVD(), melt_df.fillna(melt_df.median()), -1, 10)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.4347  0.4598  0.4527  0.4491  0.0106
MAE (testset)     0.1025  0.1051  0.0999  0.1025  0.0021
Fit time          7.08    6.81    6.93    6.94    0.11
Test time         0.40    0.38    0.38    0.39    0.01
{'test_rmse': array([0.43474012, 0.45983856, 0.45272873]), 'test_mae': array([0.1024955 , 0.10506285, 0.09991737]), 'fit_time': (7.080337285995483, 6.805693626403809, 6.930309295654297), 'test_time': (0.3997304439544678, 0.3775210380554199, 0.37934374809265137)}
##########
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 0.51   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 0.51   {'was_impossible': False}
##########
Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.1036  0.0783  0.0871  0.0897  0.0105
MAE (testset)     0.0205  0.0201  0.0203  0.0203  0.0002
Fit time          6.80    6.88    6.74    6.81    0.06
Test time         0.39    0.38    0.38    0.38    0.01
{'test_rmse': array([0.10359824, 0.07832945, 0.08709872]), 'test_mae': array([0.0204544 , 0.02008549, 0.02025562]), 'fit_time': (6.803703308105469, 6.875650405883789, 6.736913442611694), 'test_time': (0.39055395126342773, 0.3824775218963623, 0.3756394386291504)}
##########
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 4.65   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 4.65   {'was_impossible': False}
##########
Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.1075  0.0906  0.0957  0.0979  0.0071
MAE (testset)     0.0195  0.0198  0.0202  0.0198  0.0002
Fit time          6.71    6.91    6.74    6.79    0.09
Test time         0.38    0.84    0.38    0.53    0.22
{'test_rmse': array([0.10746778, 0.09060817, 0.09565891]), 'test_mae': array([0.01954866, 0.01979185, 0.02015132]), 'fit_time': (6.713814735412598, 6.914546966552734, 6.743939638137817), 'test_time': (0.3787844181060791, 0.8359701633453369, 0.3805418014526367)}
##########
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 5.02   {'was_impossible': False}
user: A3R5OBKS7OM2IR item: Movie1     r_ui = 5.00   est = 5.02   {'was_impossible': False}
##########

In [41]:
from surprise.model_selection import GridSearchCV
param_grid = {'n_epochs':[20,30],
 'lr_all':[0.005,0.001],
 'n_factors':[50,100]}
gs = GridSearchCV(SVD,param_grid,measures=['rmse','mae'],cv=3)
data1 = Dataset.load_from_df(melt_df.fillna(melt_df['rating'].mean()),reader=reader)
gs.fit(data1)

In [43]:
gs.best_score
print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

0.08958720092042438
{'n_epochs': 30, 'lr_all': 0.005, 'n_factors': 50}

In [ ]:
# Here Predictions are done.